{% extends "base.html" %}

{% block content %}
{# display infos of a document #}
<table>
  <tr> 
    <td>description:</td>
    <td id="desc">{{ row.desc }}</td>
  </tr>
  <tr>
    <td>tags:</td>
    <td id="tags">{{ row.tag }}</td>
  </tr>

  <tr>
    <td>Download</td>
    <td id="file-location"><a href="/goto/{{ row.id }}/{{ row.attachment}}">{{ row.attachment}}</a></td>
  </tr>
</table>

<hr>

{% if user.is_authenticated %}
<h4>edit the document infomation.</h4>
<form id="info" method="post" action="">
{% csrf_token %}
<table>
	{% for k,v in row.items  %}
	{% if k != '_attachments' and k != '_id' and k != '_rev' and k != 'user' and k != 'created' %}
	<tr>
		{{ k.error }}
		<td>{{k}}</td>
		<td><input type="text" name="{{k}}" value="{{v }}"></td>
	</tr>
	{% endif %}
	{% endfor %}
	{% if "other" not in row.keys %}
	{# <tr>
	<td>Others:</td><td><input type="text" name="other"></td>
	</tr> #}
	<textarea name="other" form="info" rows="4" cols="50">in put your text</textarea>
	{% endif %}
</table>
<input type="submit">
</form>
{% endif %}
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a class="jiathis_button_twitter">Twitter</a>
	<a class="jiathis_button_tqq">腾讯微博</a>
	<a class="jiathis_button_fb">Facebook</a>
	<a class="jiathis_button_gmail">Gmail邮箱</a>
	<a class="jiathis_button_ishare">一键分享</a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1335918127191292" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- UJian Button BEGIN -->
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
<!-- UJian Button END -->
{% endblock %}
</body> </html>
