@font-face {
    font-family: 'capture_itregular';
    src: url('../font/capture_it-webfont.eot');
    src: local('‚ò∫'),url('capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/capture_it-webfont.woff') format('woff'),
         url('../font/capture_it-webfont.ttf') format('truetype'),
         url('../font/capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { 
margin: 0px;
padding:0px;
font-family: Monaco, sans-serif;
font-size:14px;
background:url(bg.jpg);
}

#wrapper {
width: 920px; 
margin: 0px auto;
}

#header
{
margin: 0px;
padding:0px;
background:#fafafa;
background:-moz-linear-gradient(#fafafa,#eaeaea);
background:-webkit-linear-gradient(#fafafa,#eaeaea);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
position:relative;
z-index:10; /* position always in front*/
border-bottom:1px solid #cacaca;  
box-shadow:0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}

.mylogo{
float:left;
position:relative;
padding:9px 0 0 0;
zoom:1;  /* some effect*/
}

.mylogo img{
position:absolute;
top:10px; /* distance between parent element*/
left:0;}   /* set margin*/

.gets-logo-4x{float:left;}

.topsearch{
float:left;
clear:none;
width:auto;
border-left:1px solid #fafafa;
box-shadow:-2px 0 0 #e0e0e0;  /* the left shadow*/
padding:10px;
margin:0 0 0 87px;
position:relative;}


.container{width:920px;margin:0 auto;}
img{border:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:block;}


.top-nav{
float:left;
margin:0 0 0 20px;
list-style:none;
line-height:26px;
}

.top-nav li{
float:left;margin:0 10px 0 0;
}
.top-nav a{
font-weight:normal;
color:#222;
-moz-transition:color .15s ease-in 0;
-webkit-transition:color .15s ease-in 0;
text-shadow:0 1px 0 rgba(255,255,255,0.5);
text-decoration: none; /* link remove the underline*/
}
.top-nav a:hover{
text-decoration:none;
color:#4183c4;
}


/* menu part */
#topnav ul{
margin-left:20%;
margin-top:0;
margin-bottom:0;
margin-right:20%;
width: auto;
padding:0px;
/*float:left;*/
background:#EBEBEB;
background:-moz-linear-gradient(#EBEBEB,#EAD1F0);
/* background:-moz-linear-gradient(red,blue);*/
background:-webkit-linear-gradient(#EBEBEB,#EAD1F0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB',endColorstr='#EAD1F0')";
}



#topnav li{
float: left;
font-family: 'capture_itregular',"Monaco",sans-serif;
font-size: 25px;
padding: 10px;
background-color:#EBEBEB;
list-style: none;
text-align: center;
margin:0 1em 0 0;
}    


#topnav li a{
float: left;
text-decoration: none;
}   

#topnav li a:hover { 
border-bottom-style: none;
color:#7eb9be;
 }

#topnav .left a:hover {
     
    /*Transition*/
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
#topnav .right a:hover {
 
    /*Transition*/
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}
